﻿<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="CoreAppTools.Rotinas.Helpers" #>
<#@ import namespace="DatabaseSchemaReader" #>
<#@ import namespace="DatabaseSchemaReader.DataSchema" #>
<#@ parameter name="NameSpace" type="System.String" #>
<#  DataBaseUtils utils = new DataBaseUtils(); #>
using System;
using System.Collections.Generic;
using System.Text;

namespace  <#=NameSpace#>.<#=utils.NameSpace(DataBaseUtils.DirectoryType.Core)#>
{
    public abstract class BaseEntity
    {
        public int Id { get; set; }
        public Nullable<int> CompanyId { get; set; }
        public System.DateTime DateRegister { get; set; }
        public Nullable<System.DateTime> DateModified { get; set; }
        public Nullable<System.DateTime> DateExcluded { get; set; }
    }
}

